* {
    box-sizing: border-box;
    font-family: atten-new, "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    /* --background: #f0f0f0; */
    --blue: #21315d;
    --font: #ffffff;
    --button: rgb(208, 223, 255);
    --link: rgb(174, 200, 255);
}

body {
    background-color: var(--background);
}

header {
    padding: 2vh 0 0rem 0;
}

.no-display {
    display: none;
}

.header-contents {
    display: block;
    text-align: center;
    align-items: center;
}

/* BOOTSTRAP MODIFICATIONS */
.main-menu {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

.bg-body-tertiary {
    background-color: var(--background) !important;
}

#navbarSupportedContent {
    justify-content: right;
}

/* MENU */

button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    float: right;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.click-button, .tab-button, .busk-button {
    background-color: var(--button);
    padding: 1.5rem 2rem;
    float: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    margin: 1.5rem 1.2rem;
    border-radius: 0.8rem;
}

.tab-button {
    width: 200px;
    margin-top: 0;
}

#listen {
    border: none;
    background-color: var(--blue);
}

#listen:hover {
    background-color: #384b81;
}

.click-button:hover, .tab-button:hover, .busk-button:hover {
    background-color: var(--link);
}

.button-text, .tab-text, .listen-text {
    font-style: 'urm-form', sans-serif !important;
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.listen-text {
    color: rgb(255,255,255);
}

.tab-text {
    font-size: 1rem;
}

button:focus,
button:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(26%) saturate(784%) hue-rotate(192deg) brightness(101%) contrast(104%);
}

button:hover,
button:focus {
    cursor: pointer;
}

button:target {
    filter: brightness(0) saturate(100%) invert(74%) sepia(26%) saturate(784%) hue-rotate(192deg) brightness(101%) contrast(104%);
}

.main-menu {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

.main-photo, .contact-photo {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    height: auto;
}

.contact-photo {
    width: 100%;
}

.grid-socials, .grid-socials-busk {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.grid-socials a {
    margin: 1rem 1.2rem;
    display: inline-block;
}

.grid-socials-busk a {
    margin: 3rem 3rem;
    display: inline-block;
}


.grid-socials a:hover,
.grid-socials a:focus, .grid-socials-busk a:hover, .grid-socials-busk a:focus {
    filter: brightness(0) saturate(100%) invert(74%) sepia(26%) saturate(784%) hue-rotate(192deg) brightness(101%) contrast(104%);
}

.content-container, .chord-container {
    margin: 1rem 4rem;
    text-align: center;
    align-items: center;
}

.chord-container {
    margin: 0 auto;
    max-width: 1500px;
}

.music {
    display: block;
}

iframe {
    padding: 1.5em;
}

.photo-gallery, .music-gallery {
    display: grid;
    row-gap: 1rem;
    column-gap: 0.75rem;
    width: auto;
}

.row-1 {
    grid-template-rows: 1fr;
}

.column-4 {
    grid-template-columns: 1fr;
}

.column-3 {
    grid-template-columns: 1fr;
}

.column-2 {
    grid-template-columns: 1fr;
}

.column-1 {
    grid-template-columns: 1fr;
}

.row-3 {
    grid-template-rows: 1fr 1fr;
}

.row-3 {
    grid-template-rows: 1fr 1fr 1fr;
}

.photo-block,
.uneven-block {
    vertical-align: center;
    background-position: center;
    display: flex;
    position: relative;
    cursor: crosshair;
}


/* FOOTER */

footer {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2vh;
    margin: 0.67em;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.no-display {
    display: none;
}

.upper-space {
    padding-top: 1.2rem;
}

.under-space {
    padding-bottom: 1.2rem;
}

.bold {
    font-weight: bolder;
}

hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.welcome {
    padding-top: 1em;
}

/* FONTS */

h1, p.title {
    font-family: 'urw-form', sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    margin: 0.67em 0 0 0;
    letter-spacing: 0.1em;
    color: var(--font);
  }

.title {
    font-family: 'urw-form', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: var(--font);
    text-transform: uppercase;
  }
  
h2, .subtitle {
    font-family: 'urw-form', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0.67em 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--font);
}

h3, p.show {
    font-family: 'urw-form', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1.75em 0 0.67em 0;
    text-transform: uppercase;
}

.chords-title {
    font-family: 'urw-form', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    margin: 0.67em 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--font);
}

.nav-link, .menu-item a {
    color: var(--font);
    font-size: 1.4rem;
    font-variant-caps: all-small-caps;
    font-family: 'urw-form', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-style: normal;
}

.nav-link:hover, .menu-item a:hover, .nav-link:focus,
.menu-item a:focus {
    color: var(--link);
    transition: all 0.3s ease-in-out;
}

.album {
    min-width: 250px;
    border: 5px solid var(--blue);
    margin-top: 3rem;
}

.portrait {
    max-width: 300px;
    border: 5px solid rgb(0,0,0);
    /* margin-top: 3rem; */
}

@media (min-width: 768px) {
/* For menu collapse */
    .navbar-expand-md .navbar-toggler {
        display: block !important;
    }
}

@media (min-width: 62rem) {
    .navbar-expand-md {
        flex-wrap: nowrap !important;
        justify-content: flex-start;
    }

    .navbar-expand-md .navbar-toggler {
        display: none !important;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    .column-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 62rem) {
.collapse:not(.show) {
    display: none !important;
    }

    #navbarSupportedContent {
    justify-content: left;
}

.nav-link {
        padding-left: 0;
    }
}

@media (max-width: 36rem) {

    .content-container {
        margin: 0em 0.5em 0em 0.5em;
    }
    iframe {
        padding: 1em 0 1em 0;
    }
}


p {
    font-family: 'urw-form', sans-serif;
    color: var(--font);
    font-weight: 300;
    line-height: 1.5;
}

p a {
    color: var(--button);
    font-family: 'urw-form', sans-serif;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

p a:hover,
p a:focus {
    color: var(--link);
    transition: all 0.3s ease-in-out;
}

.italic {
    font-style: italic;
}

.show-title a {
    font-weight: 800;
}

p.show-margin.show {
    margin: 0.67em 0;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.gallery {
    display: block;
    row-gap: 1rem;
    column-gap: 1.5rem;
    width: auto;
    text-align: center;
    align-items: center;
    margin: 0 1rem;
}

.gallery-container {
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

.photo-block,
.uneven-block {
    vertical-align: center;
    background-position: center;
    display: flex;
    position: relative;
    cursor: crosshair;
}

.space {
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}

.margin {
    margin-bottom: 2rem;
}

.nav {
        display: flex;
    }

.navbar-toggler {
    color: white;
    border: white;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-width: 24rem) {
    .title {
        font-size: 1.8rem;
    }

    .click-button{
    margin: 1.5rem 0.5rem; 
    padding: 1rem 0.25rem;
    font-size: 1rem;
    }
    
    a.busk-button {
        margin: 2rem 0;
        padding: 2rem 1rem;
    }

    #listen {
        margin: 0.5rem 0;
    }
}

@media only screen and (max-height: 31rem) {
    header {
        padding-top: 1rem;
    }
}

@media only screen and (max-width: 48rem) {
    .nav {
        display: block;
    } 
}

@media only screen and (max-width: 85rem) {
    .chord-container {
        margin: 1rem 3rem; 
    }
}


@media only screen and (min-width: 62.5rem) {
   
    .content-container {
        margin: 1rem 18rem;
    }

    .button-group {
        margin: 1rem 16rem;
    }

    .gallery {
        display: inline-flex;
    }

    .gallery-container {
        display: block;
        margin: 0 auto;
        max-width: 1000px;
    }
}